.sidebar {
  width: 220px;
  height: 100vh;
  background: #120A2B;
  color: #FFF1EB;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed; // siempre visible
  top: 0;
  left: 0;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 1rem;

      a {
        color: #FFF1EB;
        text-decoration: none;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: background 0.3s;

        &.active,
        &:hover {
          background: #F7AEF1;
          color: #120A2B;
        }
      }
    }
  }
}
